<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock Market</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="css/mystyle.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body ng-app="stockmarket" ng-controller="MarketController as ctrl">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container" ng-controller="MarketController as ctrl">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <div class="navbar-brand">Stock Market</div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li ng-show="!session">
                        <div class="input-group login-wrapper">
                            <input type="text" ng-model="enteredID" class="form-control" placeholder="Enter your ID">
                            <span class="input-group-btn">
                                <button ng-click="ctrl.doLogin()" class="btn btn-secondary btn-default" type="button">Sign in</button>
                            </span>
                        </div>
                    </li>
                    <li ng-show="session">
                        <div class="navbar-header">
                            <div class="navbar-brand">موجودی: {{session.money}}</div>
                        </div>
                    </li>
                    <li ng-show="session">
                        <div class="navbar-header">
                            <div class="navbar-brand">خوش آمدید {{session.name}}</div>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Modern Business
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Bootstrap v3.2.0</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Free &amp; Open Source</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading mystyle">
                        <h4><i class="fa fa-fw fa-compass myPosition"></i> لیست سهام</h4>
                    </div>
                    <div class="panel-body">
                        <div ng-repeat="symbol in symbols" class="mystyle">
                            <!--<label>
                                {{symbol.name}}
                                <input type="radio" name="name" value="{{symbol.name}}" required />
                                <br />
                                
                            </label>-->
                            <!--<button type="button" class="mr btn btn-pill-left btn-success" data-toggle="modal" data-target="#symbol" data-backdrop="static">{{symbol.name}}</button>-->
                            <p><a class="" data-toggle="modal" data-target="#symbol" data-backdrop="static" ng-model="selectSymbol" ng-click="ctrl.select()">{{symbol.name}}</a></p>  
                            
                        </div>
                        
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>-->
                        <!--<a href="#" class="btn btn-primary btn-lg">Learn More &raquo;</a>-->
                        
                        <!--<p><a class="btn btn-default" data-toggle="modal" data-target="#symbol" data-backdrop="static">خرید و فروش سهام</a></p>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div id="symbol" class="modal fade container">
            <!--<div ng-include="'buy&sellForm.html'"></div>-->
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">خرید و فروش سهام</h4>
                    </div>
              
                    <div class="modal-body mystyle" style="padding: 30px" ng-show="session">

                        <label for="subject" class="control-label">نام سهام</label>
                        <input type="text" ng-show="session" placeholder="{{session.name}}" disabled="" class="form-control mystyle" vk_14887="subscribed" vk_1529c="subscribed">
                        <label for="subject" class="control-label">قیمت سهام</label>
                        <input type="text" placeholder="{{symbolSession.price}}" disabled="" class="form-control mystyle" vk_14887="subscribed" vk_1529c="subscribed">
                        <br />
                        <br />
                        <form name="buy&sellForm" role="form" class="form-horizontal mystyle" novalidate>
                            <div class="form-group">
                                <input type="text" placeholder="...قیمت پیشنهادی" class="form-control mystyle" vk_14887="subscribed" vk_1529c="subscribed" vk_1b89b="subscribed" vk_1a2cb="subscribed" vk_1c499="subscribed" vk_19ea1="subscribed">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="...مقدار سهام" class="form-control mystyle" vk_14887="subscribed" vk_1529c="subscribed" vk_1b89b="subscribed" vk_1a2cb="subscribed" vk_1c499="subscribed" vk_19ea1="subscribed">
                            </div>
                            <div class="form-group">
                                <input type="text" placeholder="...نوع درخواست" class="form-control mystyle" vk_14887="subscribed" vk_1529c="subscribed" vk_1b89b="subscribed" vk_1a2cb="subscribed" vk_1c499="subscribed" vk_19ea1="subscribed">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="submit" ng-click="buy&sellForm.$valid &&createPoll()">فروش</button>
                        <button class="btn btn-success" type="submit" ng-click="buy&sellForm.$valid &&createPoll()">خرید</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header ">
                    <div class="inline-style">وضعیت بازار</div>
                    <button class="btn btn-secondary btn-default" ng-click="ctrl.updateSymbols">به روز رسانی</button>
                </h2>
            </div>

            <div ng-repeat="symbol in ctrl.symbolsQ">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>
                                <span class="glyphicon-plus text-primary"><div class="inline-style">نام سهام {{symbol.name}} -  تعداد :  {{symbol.quantity}}</div></span>
                            </h4>
                        </div>
                        <ul>
                            <li class="list-group-item">
                                <span class="glyphicon-pencil text-info"><div class="inline-style">لیست فروش</div></span>
                                <ul ng-repeat="sell in symbol.sellingOffers" class="list-group">
                                    <li class="list-group-item">
                                        <div class="glyphicon-minus text-success">
                                            <div class="inline-style">شماره فروشنده:{{ sell.id}} & تعداد : {{sell.quantity}} & قیمت : {{sell.price}} & نوع : {{sell.type }}</div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="list-group-item">
                                <span class="glyphicon-pencil text-info"><div class="inline-style">لیست خرید</div></span>
                                <ul ng-repeat="buy in symbol.buyingOffers" class="list-group">
                                    <li class="list-group-item">
                                        <div class="glyphicon-minus text-success">
                                            <div class="inline-style">شماره خریدار : {{buy.id}} & تعداد : {{buy.quantity}} & قیمت : {{buy.price}} & نوع : {{buy.type}}</div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Modern Business Features</h2>
            </div>
            <div class="col-md-6">
                <p>The Modern Business template by Start Bootstrap includes:</p>
                <ul>
                    <li>
                        <strong>Bootstrap v3.2.0</strong>
                    </li>
                    <li>jQuery v1.11.0</li>
                    <li>Font Awesome v4.1.0</li>
                    <li>Working PHP contact form with validation</li>
                    <li>Unstyled page elements for easy customization</li>
                    <li>17 HTML pages</li>
                </ul>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Internet Engineering Spring 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script type="text/javascript" src="lib/jquery.js"></script>
    <!-- Angular -->
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>

</body>

</html>